


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 后台管理员</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">关键词</label>
                    <div class="layui-input-block">
                        <input type="text" name="key" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-ads-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">

            <table id="LAY-ads-manage" lay-filter="LAY-ads-manage"></table>

            <script type="text/html" id="table-ads-icon">
                <i  class="{{ d.icon }}"></i>
            </script>
            <script type="text/html" id="table-ads-manage">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>

        </div>
        <!--<div class="layui-card-body">-->
<!--<pre>-->
<!--鉴权 type ::  0:allow/1:permit/2:deny-->
<!------->
<!--菜单 ：$where = "menulevel <> 0";-->
<!--有效菜单 ：$where = "menulevel <> 0 and enable = 1";-->
<!--隐藏菜单 ：$where = "menulevel <> 0 and enable = 1 and hidden = 1";-->


<!--</pre>-->
        <!--</div>-->

    </div>
</div>
<blockquote class="layui-elem-quote layui-quote-nm layui-hide" id="footer">layui {{ layui.v }} 提供强力驱动</blockquote>

<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        version: new Date().getTime(), //为了更新 js 缓存，可忽略
    });


    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'super', 'table'], function(){
        var $ = layui.$
                ,form = layui.form
                ,table = layui.table;

        //监听搜索
        form.on('submit(LAY-ads-search)', function(data){
            var field = data.field;
            //执行重载
            table.reload('LAY-ads-manage', {
                where: field
            });
        });



    });

//    //底部信息
//    var footerTpl = lay('#footer')[0].innerHTML;
//    lay('#footer').html(layui.laytpl(footerTpl).render({}))
//            .removeClass('layui-hide');

</script>
</body>
</html>

