{php}
$plist = md('adsindex')->where('pId',0)->order('sort','desc')->order('Id','desc')->select();
{/php}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 管理员 iframe 框1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-form-menuedit" id="layuiadmin-form-menuedit" style="padding: 20px 30px 0 0;">
    <form id="layuiadmin-app-form-menuedit" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-inline">
                <input type="text" name="title" value="{$row['title']}" lay-verify="required" placeholder="名称" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">图标</label>
            <div class="layui-input-inline">
                <input type="text" name="icon" value="{$row['icon']}" lay-verify="required" placeholder="图标" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">ads</label>
            <div class="layui-input-inline">
                <input type="text" name="ads" value="{$row['ads']}" lay-verify="required" placeholder="名称" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="text" name="sort" value="{$row['sort']}" lay-verify="required" placeholder="排序" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">隐藏</label>
            <div class="layui-input-block">
                <input type="checkbox" name="hidden" {if $row['hidden']}checked=""{/if}  lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级分类</label>
            <div class="layui-input-inline">
                <select name="pId" lay-filter="aihao">
                    <option value="0">顶级菜单</option>
                    {foreach $plist as $key=>$value}
                    <option value="{$value['Id']}"  {if $value['Id'] == $row['pId']}selected{/if}>{$value['title']}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <input type="hidden" name="Id" value="{$row['Id']}">

    </form>
</div>

<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        var $ = layui.$
        ,form = layui.form ;
    })
</script>
</body>
</html>