
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>静态表格</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/static/Sham.css" media="all">
</head>
<body>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>组件</cite></a>
        <a><cite>静态表格</cite></a>
    </div>
</div>

<div class="layui-fluid">
<div class="layui-row layui-col-space15">

    <div class="layui-col-md4">
        <div class="layui-card">
            <div class="layui-card-header">顶级菜单
                <button class="layui-btn layui-btn-xs layuiadmin-btn-admin" data-type="add">添加</button>

            </div>
            <div class="layui-card-body">
                <table class="layui-table"> <!-- lay-size="sm" -->
                    <tbody>
                    {foreach $tree as $key=>$value}
                    <tr>
                        <td {if $Think.get.top==$value['Id']}class="layui-bg-green"{/if}>
                            <i class="{$value['icon']}"></i> <a href="/super/menu?top={$value['Id']}" >{$value['title']}</a>
                        </td>
                        <td>
                            <a data-value="{$value['Id']}" class="pull-right layui-btn layui-btn-normal layui-btn-xs {if $value['child']}layui-btn-disabled{else}super_menu_editfun{/if}">功能</a>
                            <a data-value="{$value['Id']}" class="pull-right layui-btn layui-btn-xs super_menu_edit">编辑</a>
                            <a data-value="{$value['Id']}" class="pull-right layui-btn layui-btn-xs super_menu_delete layui-btn ">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="layui-col-md4">
        <div class="layui-card">
            <div class="layui-card-header">二级菜单</div>
            <div class="layui-card-body">
                <table class="layui-table"> <!-- lay-size="sm" -->
                    <tbody>
                    {foreach $list as $key=>$value}
                    {if $value['pId'] ==$Think.get.top && !empty($Think.get.top)}
                    <tr>
                        <td {if $Think.get.sec==$value['Id']}class="layui-bg-green"{/if}>
                        <i class="{$value['icon']}"></i> <a href="/super/menu?top={$Think.get.top}&sec={$value['Id']}" >{$value['title']}</a>
                        </td>
                        <td>
                            <a data-value="{$value['Id']}" class="pull-right layui-btn layui-btn-normal layui-btn-xs super_menu_editfun">功能</a>
                            <a data-value="{$value['Id']}" class="pull-right layui-btn layui-btn-xs super_menu_edit">编辑</a>
                            <a data-value="{$value['Id']}" class="pull-right layui-btn layui-btn-xs super_menu_delete">删除</a>
                        </td>
                    </tr>
                    {/if}
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="layui-col-md4">

        <div class="layui-card">
            <div class="layui-card-header">功能菜单</div>
            <div class="layui-card-body">
                <table class="layui-table"> <!-- lay-size="sm" -->
                    <tbody>
                    {foreach $adslist as $key=>$value}

                    {if $value['pId'] <>0}
                    {if $value['pId'] ==$Think.get.top || $value['pId'] ==$Think.get.sec}
                    <tr>
                        <td>{$value['title']}</td>
                        <td>{$value['ads']}
                            <a data-value="{$value['adsId']}" class="pull-right layui-btn layui-btn-normal layui-btn-xs super_menu_editads">编辑</a>
                        </td>
                    </tr>
                    {/if}
                    {/if}
                    {/foreach}

                    </tbody>
                </table>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">功能</div>
            <div class="layui-card-body">
                <table class="layui-table"> <!-- lay-size="sm" -->
                    <tbody>
                    {foreach $adslist as $key=>$value}
                    {if $value['pId'] ==0}
                    <tr>
                        <td>{$value['title']}</td>
                        <td>{$value['ads']}
                            <a data-value="{$value['adsId']}" class="pull-right layui-btn layui-btn-normal layui-btn-xs super_menu_editads">编辑</a>
                        </td>
                    </tr>
                    {/if}
                    {/foreach}

                    </tbody>
                </table>
            </div>
        </div>


    </div>



</div>
</div>

<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index','super'], function(){
        var $ = layui.$
                ,form = layui.form
                ,admin = layui.admin
                ,table = layui.table;

        //事件
        var active = {
            add: function(){
                layer.open({
                    type: 2
                    ,title: '添加菜单'
                    ,content: '/super/menu/addnew'
                    ,area: ['600px', '450px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){

                        //============================================
                        //获取iframe元素的值
                        var formar = layero.find('iframe').contents().find("#layuiadmin-app-form-menuaddnew");
                        //============================================
                        admin.req({
                            url: '/super/json/menuaddnew'
                            ,type:formar.attr("method")
                            ,data: formar.serialize()
                            ,success: function(res){

                                if(res.code==0){
                                    layer.close(index);
                                    location.reload();
                                }else{
                                    return true;
                                }
                                //table.reload('LAY-ads-manage');
                            }
                        });

                        //============================================
                        //End
                        //============================================
                    }
                });
            }
        }


        $('.layui-btn.layuiadmin-btn-admin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


    });
</script>
</body>
</html>